<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">表单组合</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="product-form-buy">
                <input type="hidden" name="pid" id="pid" th:value="${product.id}">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品名称:</label>
                        <div class="layui-input-inline">
                            <input type="tel" th:value="${product.name}" lay-verify="name" autocomplete="off" readonly="readonly"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">客户名:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="peopleName" lay-verify="peopleName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户电话：</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="peoplePhone"  lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">客户地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="peopleAddress"  lay-verify="peopleName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">订金：</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="havePay" lay-verify="peopleName"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">数量：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="number" lay-verify="peopleName"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">长度：</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="length" lay-verify="peopleName"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">宽度:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="width" lay-verify="peopleName"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">高度:</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="height" lay-verify="peopleName"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单类型</label>
                        <div class="layui-input-inline">
                            <select  name="state" id="state" lay-verify="state">
                                <option th:each="type:${typeList}" th:value="${type.id}"
                                        th:text="${type.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">订单完成时间：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="deliveryTime" lay-verify="deliveryTime" class="layui-input" id="time" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                </div>



                <div class="layui-form-item" style="margin-right: 0px">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="product-form-buy">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    var  number=0;
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate','upload'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , upload = layui.upload
            , form = layui.form;

        form.render(null, 'product-form-add');

        //常规用法
        laydate.render({
            elem: '#time'
        });

        /* 自定义验证规则 */
        form.verify({
            name: function (value) {
                if (value.length < 1) {
                    return '名字不能为空';
                }
            }
            ,peopleName: function (value) {
                if (value.length < 1) {
                    return '请填写客户名';
                }
            }
            ,peoplePhone: function (value) {
                if (value.length < 1) {
                    return '请填写联系电话';
                }
            }
            ,peopleAddress: function (value) {
                if (value.length < 1) {
                    return '请填写地址';
                }
            }
            ,deliveryTime: function (value) {
                if (value.length < 1) {
                    return '请选择交货日期';
                }
            }
            ,state: function (value) {
                if (value ==null) {
                    return '请至少选个种类';
                }
            }
            ,content: function (value) {
                layedit.sync(editIndex);
            }
        });

        /* 监听提交 */
        form.on('submit(product-form-buy)', function (data) {
            $.ajax({
                type:"POST",
                url:"/product/product/buy.json",
                dataType:"JSON",
                data:data.field,
                success:function (res) {
                    window.parent.layer.closeAll();
                    window.parent.layer.msg(res.msg);
                    setTimeout(function () {
                        window.parent.location.reload();
                    },200);
                },
                error:function () {
                    window.parent.layer.closeAll();
                }
            })
            return false;
        });

    });
</script>
</body>
</html>
