

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <input type="hidden" name="pid" id="pid" th:value="${product.id}">
    <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

    <script type="text/html" id="test-table-operate-barDemo">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <div>

        <form class="layui-form" action="" lay-filter="component-form-group">

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">选择材料</label>
              <div class="layui-input-inline">
                <select  name="mid" id="mid" lay-verify="mid">
                  <option value="">选择材料</option>
                  <option th:each="material:${materialList}" th:value="${material.id}"
                          th:text="${material.name}"></option>
                </select>
              </div>
            </div>
          </div>


          <div class="layui-form-item" style="margin-right: 0px">
            <div class="layui-input-block" >
              <button class="layui-btn" lay-submit lay-filter="component-form-element">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
    </div>
  </div>

    
  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','table', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
            ,table = layui.table
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;

    table.render({
      elem: '#test-table-operate'
      ,url: '/product/product/getAdditonalList.json/'+$("#pid").val()
      ,cols: [
        [
          {type:'checkbox'}
          ,{field:'name', width:"30%", title: '材料名'}
          ,{field:'number', width:"20%", title: '数量', sort: true}
          ,{title:'操作',width:"50%", align:'center',fixed: 'right', toolbar: '#test-table-operate-barDemo'}
        ]
      ],
      id:'material-table-information'
      ,text: {
        none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
      }
    });

    //监听工具条
    table.on('tool(test-table-operate)', function(obj){
      var data = obj.data;
      if(obj.event === 'detail'){
        layer.open({
          type: 2,
          area: ['800px', '450px'],
          title:"材料信息",
          content:['/system/material/show.html/'+data.id, 'no'],
        });
      } else if(obj.event === 'del'){
        layer.confirm('真的删除么', function(index){
          $.ajax({
            type:"POST",
            url:"/product/product/removeMaterial.json",
            dataType:"JSON",
            data:{mid:data.id,pid:$("#pid").val()},
            success:function (res) {
              obj.del();
              layer.close(index);
              layer.msg(res.msg);
            },

            error:function () {
            }
          })

        });
      } else if(obj.event === 'edit'){

        layer.open({
          type: 2,
          area: ['800px', '450px'],
          title:"材料信息修改",
          content:['/system/material/edit.html/'+data.id, 'no'],
        });
      }
    });

    var $ = layui.$, active = {
      add: function(){ //添加材料
        layer.open({
          type: 2,
          area: ['800px', '450px'],
          title:"材料添加框",
          content:['/system/material/add.html', 'no'],
        });
      },
      reload: function(){

        var materialReload = $('#materialReload');
        //执行重载
        table.reload('material-table-information', {
          url:'/product/product/getAdditonalList.json/'+$("#pid").val()
          ,page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            condition: materialReload.val()
          }
        });
      }
    };



    $('.test-table-btn .layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    
    form.render(null, 'component-form-group');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });
    

    /* 监听提交 */
    form.on('submit(component-form-element)', function(data){
      var pid=$("#pid").val();
      var mid=$("#mid").val();
      $.ajax({
        type:"POST",
        url:"/product/product/additional.json",
        dataType:"JSON",
        data:{pid:pid,mid:mid},
        success:function (res) {
          $("#mid").val("");
          table.reload('material-table-information', {
            url:'/product/product/getAdditonalList.json/'+$("#pid").val()
          });
          layer.msg(res.msg);
        },

        error:function (res) {
          layer.msg(res.msg);
        }
      })
      return false;
    });
  });
  </script>
</body>
</html>
