

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
        <form class="layui-form" action="" lay-filter="order-form-edit">
          <input type="hidden" name="pid" id="pid" th:value="${product.id}">
          <input type="hidden" name="id" id="id" th:value="${order.id}">
          <input type="hidden" name="createTime" id="createTime" th:value="${order.createTime}">
          <input type="hidden" name="orderNumber" id="orderNumber" th:value="${order.orderNumber}">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">商品名称</label>
              <div class="layui-input-inline">
                <input type="tel"   readonly="readonly" th:value="${product.name}" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">收货人</label>
              <div class="layui-input-inline">
                <input type="text" name="peopleName" th:value="${order.peopleName}" lay-verify="peopleName" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>
          
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">收货人电话</label>
              <div class="layui-input-inline">
                <input type="tel" name="peoplePhone" th:value="${order.peoplePhone}" lay-verify="required|phone" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">收货人地址</label>
              <div class="layui-input-inline">
                <input type="text" name="peopleAddress" th:value="${order.peopleAddress}" lay-verify="peopleAddress" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">总平方</label>
              <div class="layui-input-inline">
                <input type="text" name="square" th:value="${order.square}"  autocomplete="off" class="layui-input">
              </div>
            </div>

            <div class="layui-inline">
              <label class="layui-form-label">总价</label>
              <div class="layui-input-inline">
                <input type="text" name="prices" th:value="${order.prices}" lay-verify="prices" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>


          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">宽度</label>
              <div class="layui-input-inline">
                <input type="text" name="width" th:value="${order.width}" lay-verify="width" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">高度</label>
              <div class="layui-input-inline">
                <input type="tel" name="height" th:value="${order.height}" lay-verify="height" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">数量</label>
              <div class="layui-input-inline">
                <input type="text" name="number" th:value="${order.number}" lay-verify="number" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">交货时间</label>
              <div class="layui-input-inline">
                <input type="text" name="deliveryTime" th:value="${order.deliveryTime}" lay-verify="deliveryTime" class="layui-input" id="time" placeholder="yyyy-MM-dd">
              </div>
            </div>
          </div>

          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">注意事项</label>
            <div class="layui-input-block">
              <textarea name="attention" th:text="${order.attention}" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item" style="margin-right: 0px">
            <div class="layui-input-block" >
              <button class="layui-btn" lay-submit lay-filter="order-form-edit">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
  </div>

    
  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;

    //常规用法
    laydate.render({
      elem: '#time'
    });

    form.render(null, 'order-form-edit');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });

    /* 自定义验证规则 */
    form.verify({
      name: function (value) {
        if (value.length < 1) {
          return '名字不能为空';
        }
      }
      ,peopleName: function (value) {
        if (value.length < 1) {
          return '请填写客户名';
        }
      }
      ,peoplePhone: function (value) {
        if (value.length < 1) {
          return '请填写联系电话';
        }
      }
      ,peopleAddress: function (value) {
        if (value.length < 1) {
          return '请填写地址';
        }
      }
      ,deliveryTime: function (value) {
        if (value.length < 1) {
          return '请选择交货日期';
        }
      }
      ,state: function (value) {
        if (value ==null) {
          return '请至少选个种类';
        }
      }
      ,number: function (value) {
        if (value ==null) {
          return '请输入数量';
        }
      }
      ,content: function (value) {
        layedit.sync(editIndex);
      }
    });
    
    /* 监听提交 */
    form.on('submit(order-form-edit)', function(data){
      $.ajax({
        type:"POST",
        url:"/order/order/edit.json",
        dataType:"JSON",
        data:data.field,
        success:function (res) {
          window.parent.layer.closeAll();
          window.parent.layer.msg(res.msg);
          setTimeout(function () {
            window.parent.location.reload();
          },200);
        },

        error:function () {
          window.parent.layer.closeAll();
        }
      })
      return false;
    });
  });
  </script>
</body>
</html>
