<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>开启分页 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>开启分页</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="test-table-btn" style="margin-bottom: 10px;">
                        搜索：
                        <div class="layui-inline">
                            <input class="layui-input" name="condition" placeholder="联系人或者地址" id="orderReload"
                                   autocomplete="off">
                            <input type="hidden" name="state" th:value="${state}" id="state">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="oder-table-information" lay-filter="oder-table-information"></table>

                    <script type="text/html" id="test-table-operate-barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="show">下料</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>

<script type="text/html" id="print">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="printOrder">打印选中订单</button>
        <button class="layui-btn layui-btn-sm" lay-event="downOrder">下载选中订单</button>
    </div>
</script>

<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var admin = layui.admin
            , $ = layui.$
            , table = layui.table;
        var tableid = table.render();
        table.render({

            elem: '#oder-table-information'
            , id: 'oder-information'
            , url: '/order/order/getList.json/' + $("#state").val()
            , height: 'full-80'
            ,toolbar: '#print'
            ,defaultToolbar:[]
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'peopleName', width: "8%", title: '收货人'}
                    , {field: 'createTime', width: "10%", title: '创建日期', sort: true}
                    , {field: 'name', width: "15%", title: '商品名'}
                    , {field: 'attention', width: "32%", title: '备注'}
                    , {field: 'height', width: "8%", title: '高度', sort: true}
                    , {field: 'width', width: "8%", title: '宽度', sort: true}
                    , {field: 'number', width: "8%", title: '门扇', sort: true}
                    , {field: 'square', width: "8%", title: '平方', sort: true}
                    , {field: 'havePay', width: "10%", title: '元/平方', sort: true}
                    , {field: 'prices', width: "10%", title: '总价(元)', sort: true}
                    , {title: '操作', width: 180, align: 'right', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
                ]
            ]

            , page: true
            , text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        });

        //头工具栏事件
        table.on('toolbar(oder-table-information)', function (obj) {
            switch (obj.event) {
                case 'printOrder':
                    var  arr="";
                    var selectData = table.checkStatus('oder-information').data;
                    for (var i=0;i<selectData.length;i++){
                        arr=arr+selectData[i].id+",";
                    }
                    layer.open({
                        type: 2,
                        area: ['1000px', '500px'],
                        title: "材料列表",
                        content: ['/order/order/print.html/' + arr],
                    });
                    break;
                case 'downOrder':
                    var  arr="";
                    var selectData = table.checkStatus('oder-information').data;
                    for (var i=0;i<selectData.length;i++){
                        arr=arr+selectData[i].id+",";
                    }
                    window.location.href="/order/order/downExcel/"+arr;
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });


        //监听工具条
        table.on('tool(oder-table-information)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    area: ['800px', '550px'],
                    title: "订单信息",
                    content: ['/order/order/show.html/' + data.id],
                });
            } else if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    area: ['800px', '500px'],
                    title: "材料列表",
                    content: ['/order/material/show.html/' + data.id],
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/order/order/delete.json",
                        dataType: "JSON",
                        data: {id: data.id},
                        success: function (res) {
                            obj.del();
                            layer.close(index);
                            layer.msg(res.msg);
                        },

                        error: function () {
                        }
                    })

                });
            } else if (obj.event === 'edit') {

                layer.open({
                    type: 2,
                    area: ['800px', '550px'],
                    title: "订单信息修改",
                    content: ['/order/order/edit.html/' + data.id],
                });
            }
        });

        var $ = layui.$, active = {
            reload: function () {
                var orderReload = $('#orderReload');
                var state = $("#state").val();
                //执行重载
                table.reload('oder-information', {
                    url: '/order/order/search.json'
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        condition: orderReload.val(),
                        state: state
                    }
                });
            },
        };

        $('.test-table-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>