

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>开启分页 - 数据表格</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>开启分页</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">
          <div class="test-table-reload-btn" style="margin-bottom: 10px;">
            搜索ID：
            <div class="layui-inline">
              <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
          </div>
        </div>
        <div class="layui-card-body">
          <table class="layui-hide" id="oder-table-information" lay-filter="oder-table-information"></table>

          <script type="text/html" id="test-table-operate-barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table'], function(){
    var admin = layui.admin
            ,table = layui.table;

    table.render({
      elem: '#oder-table-information'
      ,url: layui.setter.base + 'json/table/user.js'
      ,cols: [
              [
        {type:'checkbox'}
        ,{field:'id', width:80, title: 'ID', sort: true}
        ,{field:'username', width:80, title: '商品名'}
        ,{field:'sex', width:80, title: '收货人', sort: true}
        ,{field:'city', width:80, title: '电话'}
        ,{field:'sign', title: '地址', minWidth: 100}
        ,{field:'experience', width:80, title: '押金', sort: true}
        ,{field:'score', width:80, title: '总价', sort: true}
        ,{field:'classify', width:80, title: '创建日期'}
        ,{field:'wealth', width:135, title: '完成日期', sort: true}
        ,{field:'wealth', width:135, title: '状态', sort: true}
        ,{title:'操作',width:178, align:'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
      ]
      ]
      ,page: true
    });

  });
</script>
</body>
</html>