

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">表单组合</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="material-form-edit">
          <input type="hidden" name="id" th:value="${material.id}">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">材料名称:</label>
              <div class="layui-input-inline">
                <input type="tel" name="name" lay-verify="title" th:value="${material.name}" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">长度:</label>
              <div class="layui-input-inline">
                <input type="text" name="length" th:value="${material.length}"  autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">宽度:</label>
              <div class="layui-input-inline">
                <input type="tel" name="height" th:value="${material.height}"  autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">高度:</label>
              <div class="layui-input-inline">
                <input type="text" name="width" th:value="${material.width}"  autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>

          <div class="layui-form-item" style="margin-right: 0px">
            <div class="layui-input-block" >
              <button class="layui-btn" lay-submit lay-filter="component-form-element">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;

    form.render(null, 'material-form-edit');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });

    /* 自定义验证规则 */
    form.verify({
      title: function(value){
        if(value.length < 5){
          return '标题至少得5个字符啊';
        }
      }
      ,pass: [/(.+){6,12}$/, '密码必须6到12位']
      ,content: function(value){
        layedit.sync(editIndex);
      }
    });

    /* 监听指定开关 */
    form.on('switch(component-form-switchTest)', function(data){
      layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
        offset: '6px'
      });
      layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    });

    /* 监听提交 */
    form.on('submit(material-form-edit)', function(data){
      $.ajax({
        type:"POST",
        url:"/system/material/edit.json",
        dataType:"JSON",
        data:data.field,
        success:function (res) {
          window.parent.layer.closeAll();
          window.parent.layer.msg(res.msg);
          setTimeout(function () {
            window.parent.location.reload();
          },200);
        },

        error:function () {
          window.parent.layer.closeAll();
        }
      })
      return false;
    });
  });
  </script>
</body>
</html>
