

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加材料类型</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
        <form class="layui-form" action="" lay-filter="window-form-add">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">门窗类型名</label>
              <div class="layui-input-inline">
                <input type="tel" name="name" lay-verify="name" autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>

          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">基本介绍</label>
            <div class="layui-input-block">
              <textarea name="information" lay-verify="information" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item" style="margin-right: 0px">
            <div class="layui-input-block" >
              <button class="layui-btn" lay-submit lay-filter="window-form-add">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
  </div>


  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;

    form.render(null, 'window-form-add');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });

    /* 自定义验证规则 */
    form.verify({
      name: function(value){
        if(value.length < 1){
          return '门窗类型名字不能为空';
        }
      },
      information: function(value){
        if(value.length < 1){
          return '基本介绍不能为空';
        }
      }
      ,content: function(value){
        layedit.sync(editIndex);
      }
    });

    /* 监听提交 */
    form.on('submit(window-form-add)', function(data){
      $.ajax({
        type:"POST",
        url:"/system/windowsType/add.json",
        dataType:"JSON",
        data:data.field,
        success:function (res) {
          window.parent.layer.closeAll();
          window.parent.layer.msg(res.msg);
          setTimeout(function () {
            window.parent.location.reload();
          },300);
        },

        error:function () {
          window.parent.layer.closeAll();
        }
      })
      return false;
    });
  });
  </script>
</body>
</html>
